.taskCard {
  border: 1px solid var(--border-color);
  padding: 10px;
  min-width: 200px;
  max-width: 200px;
  min-height: 140px;
  max-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
}

/* Info */
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.info h1 {
  color: var(--text-primary-color);
  margin: 0;
  font-family: var(--primary-font);
  font-size: var(--h1-font-size);
}

.info p {
  color: var(--text-secondary-color);
  margin: 0;
  margin-left: 10px;
  font-family: var(--primary-font);
  font-size: var(--p-font-size);
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

/* Status and Priority */
.status {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.priorityLow {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e6f5fd 10%, #cae9f9 90%);
  padding: 0px 10px 5px 20px;
  border-radius: 2px;
  color: #30598a;
}

.priorityMedium {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #faf5e1 10%, #f9eccb 90%);
  padding: 0px 10px 5px 20px;
  border-radius: 2px;
  color: #876c2a;
}

.priorityHigh {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #fde2e3 10%, #f8cacb 90%);
  padding: 0px 10px 5px 20px;
  border-radius: 2px;
  color: #873d2a;
}

.priorityList {
  margin: 0;
  padding: 0;
}

.priorityList li {
  height: 0.9rem;
  font-size: 0.9rem;

  margin: 0;
  padding: 0;
}

/* Date */
.taskCardInfo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid var(--border-color);
  padding-top: 10px;
}

.taskCardInfo p {
  color: var(--text-secondary-color);
  font-size: var(--p-font-size);
  margin: 0;
}
